<div class="background">
<div class="main container ">
  <div id="timer">
    <div class="monitor" >
      <div class="display">
        <p>{{timer | timer}}</p>
      </div>
    </div>
    <div class="buttons">
      <div class="title">
        <button type="button"  id="start"  (click)="run()"  class="btn btn-success">Start / Stop</button>
      </div>
      <div class="title">
        <button type="button" id="stop"  (click)="wait()" class="btn btn-danger" >Wait</button>
      </div>
      <div class="title">
        <button type="button" id="reset"  (click)="reset()" class="btn btn-warning" >Reset</button>
      </div>
    </div>
  </div>
</div>
</div>
